<div class="container p-t">
  <div class="row">

    <h1>welcome !</h1>
    <div fxLayout fxLayoutAlign="center center">
      <img src="assets/img/website.png" alt="developers">
    </div>

    <p fxLayoutAlign="center center">
      The web developers has the ambition to meet regularly (twice a month, the other Monday out of 2)
      for BBL (Brown Bag lunch), short informal presentations in the company of a sandwich on technical
      subjects (or not) during lunch break.
      this presentations keeps your skills up-to-date and provides you with practical solutions. No
      matter what situation you face. We are developers from all over the world, and each one brings their own unique
      style to help you learn. What unites us is a passion for helping you put your learning into
      practice.</p>

  </div>
</div>