
a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.space{
    margin-left: 20px;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
img{
    width: 70px;
    margin-top: 15px;
}