
<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/">
        <img src="assets/img/logo-bbl.png" alt="logo">
      </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="stat" class="space" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/about">About</a>
        </li>
        
      </ul>
  </div>
</mat-toolbar>