
<main>
    <mat-card *ngFor="let item of items">
        <mat-card-header>
            <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
            <mat-card-content>
               <label>Email:</label> {{item.email}}<br>
               <label>Website:</label> {{item.website}}<br>
               <label>Phone:</label> {{item.phone}}<br>
            </mat-card-content>
                
    </mat-card>        
          
</main>
  
