<h2 mat-dialog-title>New version of BBL</h2>
<mat-dialog-content class="mat-typography">
  <p>Newer version of the app is available. It's a quick refresh away!</p>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Refresh</button>
</mat-dialog-actions>